﻿﻿@model DevFolio.Models.TblProject
@{
    ViewBag.Title = "UpdateProject";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<form method="post">

    <h2> Proje Güncelleme Sayfası</h2>
    @Html.HiddenFor(x => x.ProjectID)

    <label> Proje Başlığı</label>
    @Html.TextBoxFor(x => x.Title, new { @class = "form-control" })

    <br />
    <label> Proje Kategorisi</label>
    @Html.DropDownListFor(m => m.TblCategory.CategoryId, (List<SelectListItem>)@ViewBag.category, new { @class = "form-control" })
    <br />
    <label> Proje Resmiv</label>
    @Html.TextBoxFor(x => x.CoverImageUrl, new { @class = "form-control" })

    <br />
    <button class="btn btn-info"> Projeyi Kaydet</button>
</form>